body{
    /* background-color: #dedede; */
    background-color: rgb(141, 140, 140);
    font-family: 'Quicksand', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    background-color: rgb(187, 187, 187);
    padding: 50px;
    height:92vh;
}

.form-control{
    background-color: rgb(238, 238, 238);
}
